* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
}
h2 {
  margin: 0;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 767px) {
    margin: 0 26px;
  }
}
.main-img {
  display: flex;
  width: 100%;
}
.section_header {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $titleColor;
  &--white {
	color: #FEFEFE;
  }
}
