footer {
    background-color: #000000;
    padding-top: 66px;
    padding-bottom: 70px;
}
.flex-center {
    @include flex-center;
}
.footer-text {
    width: 58%;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 37px;
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #B9B9B9;
}