*,
::after,
::before {
  box-sizing: border-box;
}
main {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
.presentation {
  background-image: url(../images/Sectionsbackground/section-1\(header\).jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.main_header {
  display: flex;
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
  align-items: center;

  justify-content: space-around;
}
.header_wrapper {
  display: flex;
  width: 1160px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header_logo {
  position: relative;
  display: flex;
  align-items: center;
  height: 67px;
  text-decoration: none;
}
.logo_letter {
  position: absolute;
  bottom: 18px;
  margin: 0;
  left: 14px;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
}
.logo_text {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  margin-left: 6px;
  color: #ffffff;
}
.accent_logo {
  font-weight: 700;
  color: #18cfab;
  margin: 0;
}
nav {
  display: flex;
  height: 120px;
}
.nav_list {
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
}
.nav_item {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 21px;
  height: auto;
}
.nav_item:hover {
  border-top: 2px solid rgba(24, 207, 171, 0);
  border-bottom: 2px solid rgba(24, 207, 171, 1);
}

.nav_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  height: 100%;

  color: rgba(255, 255, 255, 0.6);
}
.nav_link:hover {
  color: #18cfab;
}
.search {
  background: none;
  background-image: url(../images/SearchIcon.svg);
  border: none;
  width: 21px;
  height: 20px;
}
.presentation_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 264px auto 0;
  width: 810px;
}
h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  color: #ffffff;
  text-transform: uppercase;
}
.accent {
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  color: #18cfab;
  text-transform: uppercase;
}
h2 {
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
h4 {
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  text-transform: capitalize;
  color: #d4d4d4;
}
.section_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 168px;
  height: 63px;
  background-color: #00cbf6;
  border-radius: 3px;
  border-top: 5px solid #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  margin: 129px 13px 247px;
}
.section_button:hover {
  background-color: #18cfab;
}
.benefits_list {
  list-style: none;
  display: flex;
  margin: 8px auto 0;
  padding: 0;
}
.benefit_dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c2a33;
  height: 300px;

  width: 25%;
}
.benefit_green {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #18cfab;
  height: 300px;
  width: 25%;
}
.benefit_text_green {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 47px;
  color: #18cfab;
}
.benefit_text_white {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 68px;
  color: #ffffff;
}
.article_header {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 83px auto 101px;
  color: #4e4e4e;
}
.article_header::before {
  position: absolute;
  content: "";
  top: 66px;
  left: calc(50% - 44px);
  border-top: 2px solid #18cfab;
  width: 76px;
}
.article_header::after {
  position: absolute;
  content: "";
  top: 69px;
  left: calc(50% - 32px);
  border-top: 2px solid #18cfab;
  width: 76px;
}

.description_nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 72px;
}
.description {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  width: 17%;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
  background-color: #f8fcfe;
  border: 1px solid #edefef;
  cursor: pointer;
}
.description:hover {
  border: 1.5px solid #18cfab;
}
.description:focus {
  background: #18cfab;
  color: #ffffff;
}
.description:focus::after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-top: 20px solid #18cfab;
  bottom: -35px;
}
.descriptions_list {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 91px;
}

.description_item {
  position: relative;
  display: none;
  flex-wrap: nowrap;
}
.description_text {
  margin-left: 15px;
  margin: 0 0 0 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 91px;
}
.all_ready {
  background-image: url(../images/Sectionsbackground/Layer211.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 126px 0;
}
.big_green_text {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 0;
}
.small_gray_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin: 12px 0 62px;
}
.all_ready_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 168px;
  height: 63px;
  background-color: #00cbf6;
  border-radius: 3px;
  border-top: 5px solid #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
}
.works {
   background-color: #E9EDEF;
  }
.filter {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 58px;
}
.filter_item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.filter_item:hover {
  border: 2px solid #18cfab;
  color: #18cfab;
}
.filter_item_active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #18cfab;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #18cfab;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.works_list {
  width: 1148px;
  display: flex;
  margin: 71px auto 70px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.works_item {
  display: flex;
  position: relative;
}
.works_item:hover > .works_item_hover {
  z-index: 1;
}
.works_item_hover {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  position: absolute;
  border-top: 2px solid #18cfab;
  background-color: #e9edef;
  width: 285px;
  height: 211px;
  z-index: -1;
}
.circles {
  display: flex;
  margin: 42px 0 25px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #18cfab;
  border-radius: 30px;
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-left: 3px;
  border: 1px solid #18cfab;
}
.square_svg rect {
  fill: #18cfab;
}
.link_svg path {
  fill: #18cfab;
}
.link:hover {
  background-color: #18cfab;
}
.link:hover > .link_svg path {
  fill: #FFFFFF;
}
.square:hover {
  background-color: #18cfab;
}
.square:hover > .square_svg rect {
  fill: #FFFFFF;
}
.works_hover_big_text {
  font-style: normal;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 0;
}
.works_hover_small_text {
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  margin: 0;
  color: #8a8a8a;
}
.load_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  margin: 0 0 99px;
  width: 168px;
  height: 63px;
  background: #18cfab;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}
/* .breaking_news {
  display: flex;
  flex-direction: column;
  width: 1160px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
} */
.news_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.news_item {
  margin: 38px 13px;
  position: relative;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #203E38;;
  width: 70px;
  height: 68px;
}
.news_name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
  margin: 0;
  padding-left: 22px;
}
.news_comments {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding-left: 20px;
  color: #777777;
}
.news_item:hover .date {
  background-color: #18CFAB;
}
.news_item:hover .news_name {
  color: #18CFAB;
}
.reviews {
  background-image: url(../images/Sectionsbackground/section-3.jpg);
  background-size: cover;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 1160px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.rewiewer {
  border-radius: 30px;
  border: 4px solid rgba(31, 218, 181, 0.2);
  margin: 0 16px;
  position: relative;
  transition: all easy  2s;
  }
.slider {
  display: flex;
  align-items: center; 
  margin: 44px 0 99px 0;
}
.slider_cut {
  display: flex;
  width: 368px;
  overflow: hidden;
  transition: all ease-in 3s;
  
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border: 1px solid #BBBBBB;
  transition: all 1s;
}
.arrow_svg path {
  fill: #BBBBBB;
}
.arrow:hover > .arrow_svg path {
  fill: #ffffff;
}
.arrow:hover {
  background-color: #18CFAB;
  border: none;
}
/* swiper */
.swiper {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  width: 61px;
  }
.gallery-top {
  height: 80%;
  width: 1140px;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  width: 353px;
  padding-left: 24px;
   }
.swiper-slide-active {
  position: relative;
  width: 61px;
  bottom: 10px;
}
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border: 1px solid #BBBBBB;
  position: relative;
  left: 15px;
  top: 8px;
}
.swiper-button-next:hover {
  background-color: #18CFAB;
  border: none;
}
.swiper-button-next:hover > .arrow_svg path {
  fill: #ffffff;
}
.swiper-button-prev{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border: 1px solid #BBBBBB;
  position: relative;
 margin-right: 22px;
  top: 8px;
}
.arrow_svg path {
  fill: #BBBBBB;
}
.swiper-button-prev:hover {
  background-color: #18CFAB;
  border: none;
}
.swiper-button-prev:hover > .arrow_svg path {
  fill: #ffffff;
}
.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
}

.sliderr_phootoo {
  border-radius: 30px;
  border: 4px solid rgba(31, 218, 181, 0.2);
  margin: 0 38px;
}

.slider_conteiner {
  display: flex;
align-items: center;
}
.slider_content_conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 38px ;
}
.review {
  display: flex;
  flex-direction: column;
  font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
color: #BBBBBB;
text-align: center;
}
.rewiew_article_header {
  position: relative;
  font-weight: 400;
font-size: 36px;
line-height: 40px;
color: #FFFFFF;
}
.rewiew_article_header::before {
  position: absolute;
  content: "";
  top: 66px;
  left: calc(50% - 44px);
  border-top: 2px solid #18cfab;
  width: 76px;
}
.rewiew_article_header::after {
  position: absolute;
  content: "";
  top: 69px;
  left: calc(50% - 32px);
  border-top: 2px solid #18cfab;
  width: 76px;
}
.round_photo_big {
  border-radius: 83px;
  border: 12px solid rgba(31, 218, 181, 0.2);
  
}
.name {
font-weight: 700;
font-size: 16px;
line-height: 27px;
text-transform: uppercase;
color: #18CFAB;
}

/* поместить хидер в контейнер и все секции */