*,
::after,
::before {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: rgba(23, 23, 23, 1);
    background-size: cover;
}
.conteiner {
    width: 1095px;
    margin: 0 auto;
    
    
}
header {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-right: 39px;
}
.accent {
    font-size: 20px;
    color: #D6AF76;
}
.contacts {
    display: flex;
    align-items: center;
    height: 50px;
}
.button {
    color: #E4B564;
    border: 1px solid rgba(228, 181, 100, 1);
    text-decoration: none;
    padding: 10px 25px;
    
}
.phone_picture {
    margin-right: 8px;
}
.services {
    background: url(../images/header-bg.jpeg);
    background-size: cover;
    margin-bottom: 120px;
    margin-top: 96px;
}
.section_heeder {
font-weight: 700;
font-size: 37px;
color: #FFFFFF;
margin: 0;
}
.section_text {
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
margin: 31px 0;
}
#ground {
    grid-area: ground;
}
#underground {
    grid-area: underground;
}
#channels {
    grid-area: channels;
}
#opori {
    grid-area: opori;
}
#weels {
    grid-area: weels;
}
.service_list {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "ground ground underground underground channels channels"
    "opori opori opori weels weels weels";
    row-gap: 27px;
    column-gap: 23px;
}
.service_item_small_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 351px;
    background-color: rgba(99, 79, 44, 1);
    list-style: none;
}
.service_item_small_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 351px;
    background-color: rgba(180, 163, 133, 1);
    list-style: none;
}
.service_item_small_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 351px;
    background-color: rgba(228, 181, 100, 1);
    list-style: none;
}
.service_item_big_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 536px;
    height: 351px;
    background: rgba(99, 90, 74, 1);
}
.service_item_big_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 536px;
    height: 351px;
    background: rgba(176, 140, 77, 1);
}
.service_link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    }
    .autopark {
        margin-bottom: 143px;
    }
    .autopark_list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        height: 672px; 
        padding: 0;
        margin: 70px 0 0 0;
    }
    .autopark_item_1 {
    width: 350px;
    height: 234px;
    background: #0E0E0E;
    margin-bottom: 18px;
    }
    .autopark_item_2 {
    width: 350px;
    height: 420px;
    background: #1F1F1F;
    
    }
    .autopark_item_3 {
    width: 350px;
    height: 329px;
    background: #242424;
    margin-bottom: 24px;
    }
    .autopark_item_4 {
    width: 350px;
    height: 303px;
    background: #E4B564;
    }
.autopark_item_5 {
    width: 350px;
height: 191px;
background: #1F1F1F;
margin-bottom: 19px;
}
.autopark_item_6 {
    width: 350px;
height: 234px;
background: #0E0E0E;
margin-bottom: 19px;
}
.autopark_item_7 {
    width: 350px;
height: 207px;
background: #0A0909;

}
.autopark_link {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-left: 39px;
    padding-top: 33px;
    text-decoration: none;
    font-weight: 400;
    
font-size: 15px;
color: #FFFFFF;
}
.autopark_bold {
    font-size: 15px;
    font-weight: 700;
}
.black_text {
    color: #000000;
    font-size: 15px;
}
.clients {
    background-image: url(../images/parallax-bg.jpeg);
    padding-top: 129px;
}
.clients_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin-top: 54px;
}
.clients_item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    list-style: none;
    background-color: rgba(99, 79, 44, 1);
    position: relative;
}
.client_logo {
    position: relative;
}
.clients_item1:hover {
    transition: 1s;
    background-color: rgba(99, 79, 44, 0.76);
}
.clients_item1:hover > p {
    z-index: 1;
    transition: 1s;
}
.clients_item1:hover > .client_logo {
    bottom: 55px;
}
.clients_item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    list-style: none;
    background-color: rgba(232, 210, 171, 1);
    position: relative;
}
.client_logo1 {
    position: relative;
}
.clients_item2:hover {
    transition: 3s;
    background-color: rgba(232, 210, 171, 0.76);
}
.clients_item2:hover > p {
    z-index: 1;
    transition: 1s;
}
.clients_item2:hover > .client_logo {
    bottom: 65px;
}
.clients_item2:hover > .client_logo1 {
    bottom: 65px;
}


.clients_item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    list-style: none;
    background-color: rgba(228, 181, 100, 1);
    position: relative;
}
.clients_item3:hover {
    transition: 3s;
    background-color: rgba(228, 181, 100, 0.76);
}
.clients_item3:hover > p {
    z-index: 1;
    transition: 1s;
}
.clients_item3:hover > .client_logo {
    bottom: 55px;
}
.clients_item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    list-style: none;
    background-color: rgba(99, 90, 74, 1);
    position: relative;
}
.clients_item4:hover {
    transition: 3s;
    background-color: rgba(99, 90, 74, 0.76);
}
.clients_item4:hover > p {
    z-index: 1;
    transition: 1s;
}
.clients_item4:hover > .client_logo {
    bottom: 55px;
}
.clients_item5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    list-style: none;
    background-color: rgba(176, 140, 77, 1);
    position: relative;
}
.clients_item5:hover {
    transition: 3s;
    background-color: rgba(176, 140, 77, 0.76);
}
.clients_item5:hover > p {
    z-index: 1;
    transition: 1s;
}
.clients_item5:hover > .client_logo {
    bottom: 55px;
}
.clients_item6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    list-style: none;
    background-color: rgba(99, 79, 44, 1);
    position: relative;
}
.clients_item6:hover {
    transition: 3s;
    background-color: rgba(99, 79, 44, 0.76);
}
.clients_item6:hover > p {
    z-index: 1;
    transition: 2s;
}
.clients_item6:hover > .client_logo {
    bottom: 55px;
}
.client_adress {
    text-align: center;
    position: absolute;
    width: 364px;
    color: #FFFFFF;
    padding: 0 60px;
    font-size: 16px;
    top: 122px;
    z-index: -1;
}
.client_link {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}