.instagramm {
    background-color: rgba(0, 0, 0, .03);
    background-size: cover;
    
}
.instagram__list {
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    grid-template-rows: 258px;
    grid-auto-rows: 0;
    overflow-y:hidden;
    column-gap: 10px;
    list-style: none;
    padding: 0;
    @media (max-width: 1200px) {
        grid-template-columns: 250px 250px 250px;
        column-gap: 9px;
    }
    @media (max-width: 767px) {
        grid-template-columns: 301px;
    }
}

.instagram__picture{
    width: 100%;
}
.instagramm__header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 24px;
}
.instagramm__go-to-page {
text-decoration: none;
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
text-transform: uppercase;
color: #4E4E4E;
@media (max-width: 768px) {
    display: none;
}
}