*,
::after,
::before {
    box-sizing: border-box;
}
body {
    font-family: "Ubuntu", sans-serif;
    background-image: url(../images/Фон\ 1.png);
    background-size: cover;
}
header {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
}
.logo_link {
    text-decoration: none;
    font-weight: 700;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
margin-left: 79px;
}
.logo_link:hover {
    color: #3CB878;
    transition: all 0.4s;
}
.header_link {
    text-decoration: none;
    margin-right: 24px;
}
.header_icon:hover path {
fill: #3CB878;
transition: all 0.4s;
}
.right_part_header {
    display: flex;
    align-items: center;
}
.autorization_text {
display: flex;
align-items: center;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
padding-left: 0;
margin-right: 79px;
}
.autorization_text::before {
content: "";
display: inline-block;
width: 1px;
height: 19px;
margin-right: 25px;
background-color: rgba(255, 255, 255, 0.5);   
}
.autorization_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 0;
}
.autorization_link:hover {
   color: #3CB878; 
   transition: all 0.4s;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 710px;
}
.autorization_form {
width: 444px;
height: 584px;
background-color: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.form_header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 31px;
}
.form_header::before {
content: "";
width: 18px;
height: 18px;
margin-right: 43px;
background: #3CB878;
}
h1 {
    font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #434343;
margin: 0;
}
.form_header_link {
text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #3CB878;
margin-left: 216px;
}
.form_header_link:hover {
    color: rgba(1, 129, 63, 1);
    transition: all 0.4s;
}
.main_form_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.f_button {
display: flex;
align-items: center;
justify-content: center;
width: 160px;
height: 48px;
background: #305DB8;
border: none;
border-radius: 3px;
}
.f_button:hover {
  background-color: rgba(2, 34, 99, 1);
  transition: all 0.4s;
}
.F_text {
position: relative;
font-size: 24px;
color: #FFFFFF;
font-weight: 700;

}
.F_text::after {
position: absolute;
content: "";
display: inline-block;
width: 1px;
height: 28px;
background-color: rgba(10, 22, 47, 0.1);
margin-left: 19px;
}
.facebook_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 38px;
}
.g_button {
display: flex;
align-items: center;
justify-content: center;
width: 160px;
height: 48px;
background: #DF4A32;
border: none;
border-radius: 3px;
}
.g_button:hover {
    background-color: rgba(171, 31, 9, 1);
    transition: all 0.4s;
}
.g_text {
    position: relative;
    font-size: 19px;
    font-weight: 700;
    color: #FFFFFF;
}
.g_text::after {
    content: "";
    position: absolute;
   margin-top: auto;
   margin-bottom: auto;
    
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: rgba(10, 22, 47, 0.1);
    margin-left: 7px;
   
}
.google_text {
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
margin-left: 30px;
}
.sepsrator {
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #848484;
margin: 31px 0 12px;
}
.sepsrator::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 152px;
height: 1px;
background-color: #F2F2F2;
margin-right: 2px;
bottom: 3px;
}
.sepsrator::after {
    display: inline-block;
    position: relative;
    content: "";
    width: 152px;
height: 1px;
background-color: #F2F2F2;
margin-left: 2px;
bottom: 3px;
}
.main_input {
width: 324px;
height: 44px;
border: 1px solid #F2F2F2;
border-radius: 4px;
font-weight: 400;
font-size: 14px;
color: #BEBEBE;
outline: none;
padding-left: 20px;
margin-bottom: 15px;
}
.main_input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}
.terms_link {
    text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: rgba(60, 184, 120, 1);
}
.terms_link:hover {
    color: rgba(1, 129, 63, 1);
}
.account_button {
    width: 324px;
height: 46px;
background: rgba(60, 184, 120, 0.8);
border: none;
border-radius: 4px;
margin-top: 20px;
color: #FFFFFF;
}
.account_button:hover {
background-color: rgba(1, 129, 63, 1);
transition: all 0.4s;
}