.cards-container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.card {
  margin: 3px 3px;
  background-image: "";
}
.star {
  width: 25px;
  height: 25px;
  margin-left: 50%;
  cursor: pointer;
}
