body {
    font-family: 'Montserrat', sans-serif;
}
.nav_list {
    padding: 0;
    text-align: center;
    vertical-align: auto;
    margin: 0;
}
.nav_item {
    display: inline-block;
    list-style: none;
    margin: 0 36px;
    padding: 31px 0;
}
.nav_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(255, 0, 0, 1);
    font-weight: 700;
}
.slogan {
    text-transform: uppercase;
    font-size: 22px; 
    color: rgba(55, 55, 55, 1);
    text-align: center;
    margin: 48px 0 38px;
}
.text_block {
    text-align: center;
    font-size: 16px;
    color: rgba(55, 55, 55, 1);
    font-weight: 400;
    margin: 28px 68px;
}
.button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: rgba(255, 0, 0, 1);
    padding: 18px 43px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
}
.button_center {
    margin: 68px 0 0 0;
    text-align: center;
}
.copyright {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    color: rgba(55, 55, 55, 1);
    margin: 82px 68px 29px 0;
}