*,
::after,
::before {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
width: 1366px;
background-image: url(../images/background1.png);
background-size: cover;
margin: 0 auto;
padding: 51px 165px;
}
header{
    /* height: 47px; */
    display: flex;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 53px;
}
.logo_link {
    display: flex;
    flex-wrap: wrap;
    /* width: 140px; */
    height: 53px;
    text-decoration: none;
}
.logo_link:hover > .logo_conteiner > .logo_hover {
    z-index: 1;
}
.logo_conteiner {
    width: 53px;
height: 47px;
position: relative;
}
.logo_hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.logo_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
    height: 50px;
}
.logo_milan {
text-transform: uppercase;
font-weight: 700;
font-size: 29px;
line-height: 29px;
color: #FFFFFF;
margin: 0;
}
.logo_holidays {
text-transform: uppercase;
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
margin: 0;
}
.logo_link:hover > .logo_text > .logo_milan {
    color: #F26522;
}
.logo_link:hover > .logo_text > .logo_holidays {
    color: #F26522;
}
.header_contacts {
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between;
}
.contact_mail {
text-decoration: none;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
}
.contact_mail:hover {
color: rgba(242, 101, 34, 1);
}
.contact_phone {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    }
.contact_phone:hover {
color: rgba(242, 101, 34, 1);
}
.service_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 61px;
    row-gap: 37px;
    margin: 22px 0 0 0;
    padding: 0;
}
.service_item {
    list-style: none;
    position: relative;
    
}
.service_item_link {
    text-decoration: none;
}
.pricer {
display: flex;
justify-content: space-between;
align-items: flex-end;
width: 295px;
height: 55px;
padding: 0;
background-color: rgba(242, 101, 34, 1);
position: absolute;
top: 165px;
z-index: -1;
}
.service_item:hover > .service_item_link > .pricer {
    z-index: 1;
}
.service_item:hover > .service_item_link > .service_name {
    color: rgba(242, 101, 34, 1);
}
.pricer_container {
display: flex;
flex-direction: column;
justify-content: space-between;

}
.pricer_details_container {
    display: flex;
}
.pricer_text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
color: #FFFFFF;
margin: 7px 0 0 16px;
}
.price {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
margin: 8px 0 12px 16px;
}
.pricer_deteils {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
}
.pricer_deteils::after {
content: ">";
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
margin: 0 16px 14px 16px;
}

.service_name {
    font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
text-align: center;
}
.footer_text {
text-align: center;
margin-top: 49px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
}