*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  padding: 63px 0 30px 0;
  background: rgba(0, 0, 0, 0.0001);
  margin: 0 auto;
}
.logo {
  text-decoration: none;
  font-size: 80px;
  font-weight: 400;
  color: #000000;
  }
.accent_color {
  color: #3181a6;
}
.nav_list {
  display: flex;
  padding-left: 0;
  margin: 48px 0 38px;
  list-style: none;
  justify-content: center;
  height: 72px;
  background-color: rgba(53, 68, 79, 1);
}
.nav_item:first-child {
  display: flex;
  border-left: 1px solid #ffffff;
  margin-left: -1px;
  height: 72px;
}
.nav_item {
  display: flex;
  border-right: 1px solid #ffffff;
  height: 72px;
}
.nav_link {
  text-decoration: none;
  font-size: 24px;

  color: #ffffff;
  font-weight: 400;
  padding: 26px 40px 19px 40px;
}
.nav_item:hover {
  background-color: rgba(34, 47, 58, 1);
}
.mn {
  display: flex;
  margin: 0;
  padding: 0;
}
.aside_menu {
  width: 344px;
  height: 398px;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 0;
  text-decoration: none;
  margin: 0;
}
.aside_menu_item {
  display: flex;
  padding-left: 44px;
  height: 79px;
  align-items: center;
}
.aside_menu_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 27px;
  color: #485863;
  padding-top: 27px;
  padding-bottom: 27px;
}
.aside_menu_item:hover {
  background-color: rgba(219, 219, 219, 1);
  padding-left: 70px;
}
.cotent_container {
  margin-left: 52px;
  width: 885px;
}
.picture_conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
}
.main_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #2c2c2c;
}
footer {
  display: flex;
  justify-content: space-between;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
}
.footer_nav {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.footer_nav_item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 13px 0;
}
.footer_nav_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  margin-left: 40px;
}
.footer_nav_link:hover {
  padding: 13px 0;
  border-bottom: 1px solid rgba(49, 129, 166, 0);
  border-bottom: 1px solid rgba(49, 129, 166, 1);
  color: rgba(49, 129, 166, 1);
}
.copyright {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-right: 40px;
}
.goat:hover {
  transform: scale(1.3);
  transition: 1.2s;
}
