.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(57, 56, 56, 0.5);
}
.modalContainer {
  background-color: #e74b3b;
  width: 520px;
  border-radius: 4px;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  padding: 24px 30px;
  border-radius: 4px;
  background-color: #d34537;
  color: #fff;
}
.modalHeaderText {
margin: 0;
}
.closeModal {
  border: none;
  background-color: #d34537;
  font-size: 21px;
  color: white;
  cursor: pointer;
}
.modalText {
margin: 35px 45px;
text-align: center;
color: white;
}
.modalButtonsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}