.posts {
  display: flex;
  flex-direction: column;
  margin-top: 66px;
  margin-bottom: 69px;
}
.posts__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 24px 0 0;
  justify-content: space-between;
  margin: 0;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}
.posts__item {
  display: flex;
  max-width: 555px;
  margin-top: 32px;
}
.posts__text_conteiner {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  @media (max-width: 767px) {
    margin-left: 0;
  }
}
.posts__header {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $titleColor;
}
.posts__coments {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $lightGray;
}
.posts__text {
  margin: 13px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: $mediumGray;
  @media (max-width: 767px) {
    display: none;
  }
}
.posts__link {
  display: flex;
  text-decoration: none;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}