.page-nav {
  position: relative;
}
.page-nav__list {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 45px 15% 51px 15%;
  @media (max-width: 1200px) {
    padding: 41px 15% 43px 15%;
  }
  @media (max-width: 768px) {
    display: none;
    &--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 26px;
    top: 37px;
    padding: 0;
    }
  }
}
.page-nav__item {
  @media (max-width: 768px) {
    background-color: #F5F5F5;
    padding-left: 14px;
    width: 182px;
    &:active {
      background-color: #E5E5E5;
    }
     }
     
}
.page-nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: $titleColor;
  &:hover {
    color: #57a4a4;
  }
  }
.burger-btn {
  display: none;
  @media (max-width: 768px) {
    display: block;
    margin: 23px 0 23px;
    padding: 0;
    width: 44px;
    height: 37px;
    border: none;
    background-color: rgba(0, 0, 0);
    background-image: url(../img/menu-button.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: auto;
  }
  &--active {
    background-image: url(../img/BurgerCross.svg);
  }
}
